{% extends 'base.html' %}

{% block title %}Add New Parking Lot{% endblock %}

{% block content %}
<div class="container mycontainer ">
    <h2 class="mt-5">Creating Lot</h2>
    <form action="{{ url_for('createlot') }}" method="post" class="mt-4">
        <div class="formbox">
            <div class="form-group">
                <label for="prime_location_name">Lot Name</label>
                <input type="text" class="form-control" id="prime_location_name" name="prime_location_name" required>
            </div>
            <div class="form-group">
                <label for="price_per_hour" >Price Per Hour (₹)</label>
                <input type="number" step="0.01" class="form-control" id="price_per_hour" name="price_per_hour" required>
            </div>
            <div class="form-group">
                <label for="maximum_number_of_spots">Total Number of Spots</label>
                <input type="number" class="form-control" id="maximum_number_of_spots" name="maximum_number_of_spots" required>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input type="text" class="form-control" id="address" name="address">
            </div>
            <div class="form-group">
                <label for="pincode">Pincode</label>
                <input type="text" class="form-control" id="pincode" name="pincode">
            </div>
            <div class="btncontainer">
            <button type="submit" class="btn btn-primary">Create</button>
            <a href="{{ url_for('admindashboard') }}" class="btn btn-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}