{% extends 'base.html' %}
{% block title %}My Parking History{% endblock %}

{% block content %}

<style>
    body{
        background-color: #fff;
    }
    section {
      min-height:100vh;
      display: flex;
      flex-direction: column;
    }
</style>

<div class="container mt-5">
    <h3 class="text-dark">Previously Booked slots</h3>
    <br>
    <hr>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Lot Name</th>
                    <th>Spot #</th>
                    <th>Parked At</th>
                    <th>Vacated At</th>
                    <th>Total Cost</th>
                </tr>
            </thead>
            <tbody>
                {% for item in history %}
                <tr>
                    <td>{{ item.prime_location_name }}</td>
                    <td>{{ item.spot_number }}</td>
                    <td>{{ item.parking_timestamp }}</td>
                    <td>{{ item.leaving_timestamp }}</td>
                    <td>₹{{ "%.2f"|format(item.total_cost) }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" class="text-center">You have no past parking records.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="{{ url_for('userdashboard') }}" class="btn mt-3">Back to Dashboard</a>
</div>
{% endblock %}