/* font */

@import url('https://fonts.googleapis.com/css2?family=Sansation&family=Poiret+One&family=Space+Grotesk:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f2d51;
  color: #fff;
  font-weight: 400;
  font-family: 'Sansation', sans-serif;
}

h1, h2, h3 ,h4,h5{
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;          
  letter-spacing: 0.5px;     
  margin-bottom: 0.5rem;
}


/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poiret One', sans-serif;
}

.logoicon {
  width: 40px;
  height: 40px;
}

.logotext {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.logoline1 {
  font-size: 20px;
  font-weight: 600;
}

.logoline2 {
  font-size: 20px;
  font-weight: 700;
  color: #dad0c6;
}

/* navlinks */
.navlinks {
  display: flex;
  gap: 20px;
}

.navlinks a {
  text-decoration: none;
  color: #dad0c6;
  transition: color 0.3s;
}

.navlinks a:hover {
  color: #f27c22;
}

/*  button  */
.btn{
  padding: 10px 20px;
  border: 2px solid #dad0c6;
  background-color: #1f2d51;
  border-radius: 20px;
  font-weight: 600;
  color:#fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 15px;
}

.btncontainer{
  text-align:center;
}

.btn:hover {
  border-color: #f27c22;
  background-color: #f27c22;
}

/* main */
.main {
  height: auto;
  text-align: center;
  padding: 70px 20px 70px 50px;
  background-color: #1f2d51;
}

.main h1 {
  font-size: 64px;
  font-weight: 800;
  color: #fff;
}

.main .highlight {
  color: #dad0c6;
}

.maincontent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap; /* Keeps it responsive on smaller screens */
  gap: 40px;
}

.maintext {
  flex: 1; /* Allows this item to grow and shrink */
  text-align: left;
}

.mainvdo {
  flex: 1; /* Allows this item to grow and shrink */
}

.mainvdo img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

.whyus {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 60px 40px;
  box-sizing: border-box;
  justify-content: space-between;
}

.whyus-heading {
  width: 100;
  text-align: right; 
  margin-bottom: 60px; 
  margin-left: 700px;
}
  
.whyus-heading h2 {
  font-size: 50px;
  color: #dad0c6;
  font-weight: bold;
  margin: 0; 
}

.whyus-features {
  display: flex; 
  justify-content: center; 
  gap: 40px; 
  width: 100%; 
  flex-wrap: wrap; 
  max-width: 1200px; 
}

.feature {
  flex: 1;
  border: 2px solid #dad0c6;
  padding: 40px 30px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.feature:hover {
  border-color: #f27c22;
  box-shadow: 0 0 10px rgba(242, 124, 34, 0.2);
}

.feature h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  display: block; 
  text-align: center;
}

.feature p {
  font-size: 15px;
  line-height: 1.6;
  display: block; 
  text-align: center;
}

.findparking {
  background-color: #1f2d51 ;
  padding: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fp-text {
  font-size: 30px;
  color:#fff;
  margin-left: 160px;
}

.diff {
  color: #dad0c6;
}

.inputbox {
  border: 2px solid #dad0c6;
  border-radius: 10px;
  padding: 10px 15px;
  width: 300px;
  margin-right: 150px;
}


.letsgo {
  margin-bottom: 15px;
  margin-left: 15px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.letsgoimg {
  height: 80px;
  width: auto;
}

.inputbox input {
  border: none;
  outline: none;
  width: 100%;
  background-color: #1f2d51;
}

.Footer {
  display: flex;
  justify-content: space-between;
  background-color: #0f1a30;
  color: #7a8495;
  padding: 40px 60px;
  flex-wrap: wrap;
}

.footerleft,  .footerright {
  flex: 1;
  min-width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footerleft {
  padding-left: 200px;
}


.Footer h4 {
  font-size: 22px;
  margin-bottom: 10px;
}

.Footer a {
  text-decoration: none;
  transition: color 0.3s;
  color: #7a8495;
}

.Footer a:hover {
  color: #f27c22;
}

.mycontainer{ 
    margin: 120px auto;
    max-width:400px;
}

.formbox {
  border: 2px solid #dad0c6;
  padding: 50px 40px;
  border-radius: 12px;
}

.form-group{
  margin-bottom: 10px;
}


.mt-5 {
  text-align: center;
  margin-bottom: 15px;
}

.mt-3{
  font-weight: 400;
}

.mt-3 a {
  color:#dad0c6;
}


.card-header {
  text-align: center;
}

.offcanvas {
  background-color: #1f2d51;
}

.offcanvas a {
  text-decoration: none;
  color: #dad0c6;
  transition: color 0.3s;
}

.offcanvas a:hover{
  color:#f27c22;
}

.offcanvas h4 {
  color:#f27c22;
}

.offcanvas .list-group-item{
  background-color: #1f2d51;
}

.sidebar-trigger,
.sidebar-trigger:hover {
  text-decoration: none;
  color:#000;
}


.col-md-5{
  margin-left:80px;
}

.col-md-4{
  margin-left: 150px;
}


.spacingrow{
  gap:15px;
}

.cardactive{
  border: 2px solid #1f2d51;
  padding: 60px 50px;
  border-radius: 12px;
  max-width: 800px;
  margin-top: 80px;
  background-color: #1f2d51;
}

.cardactive p,hr,h5{
  color:#dad0c6;
}

.cardchart{
  border-color:  #1f2d51;
  border-radius: 12px;
  border: 2px solid;
}

.customadminchart h2{
  margin-left: 80px;
}

.custombutton{
  margin-right: 80px;
}

.cardimg img{
  height: 150px;
  width: auto;
}



