<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vehicle Parking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Sansation&family=Space+Grotesk&family=Poiret+One:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>
  <style>
    h1, h2, h3 {
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;
      letter-spacing: 0.5px;
    }

    body {
      font-family: 'Sansation', sans-serif;
      font-weight: 400;
    }
  </style>

  <!-- header -->
  <header class="navbar">
    <div class="logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="P Icon" class="logoicon">
      <div class="logotext">
        <div class="logoline1">Vehicle</div>
        <div class="logoline2">Parking</div>
      </div>
    </div>

    <nav class="navlinks">
      <a href="#">About us</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('signup') }}">SignUp</a>
    </nav>

    <button class="btn">Book my slot</button>
  </header>

  <!-- main-->
  <section class="main">
    <div class="maincontent">
      <div class="maintext">
        <h1>Your <span class="highlight">parking spot</span>, <br>just a click away!</h1>
      </div>
      <div class="mainvdo">
        <img src="{{ url_for('static', filename='tap1.gif') }}"></img>
        </img>
      </div>
    </div>
  </section>


  <!-- Why Choose Us  -->
  <section class="whyus">
    <div class="whyus-heading">
      <h2>Why Choose us?</h2>
    </div>
    <div class="whyus-features">
      <div class="feature">
        <h3>Hassle-Free Parking</h3>
        <p>Reserve your parking spot before you even reach the location. Just select the lot, pick your spot, and you're done.</p>
      </div>
      <div class="feature">
        <h3>Built with Smart Technology</h3>
        <p>Ensures security, performance, and responsive design.</p>
      </div>
      <div class="feature">
        <h3>Instant Spot Booking</h3>
        <p>Tired of endlessly circling around for a free spot? Our platform helps you find available parking in seconds — saving your time and fuel.</p>
      </div>
    </div>
  </section>

  <!--Find parking section-->
  <section class="findparking">
      <div class="fp-text">
        <h2>Where are<br> <span class="diff">you parking </span> <br>today?</h2>
      </div>
      <div class="fp-right">
        <div class="letsgo">
          <h4>Let's GO!</h4>
          <img src="{{ url_for('static', filename='letsgo.png') }}" alt="scooty" class="letsgoimg">
        </div>
        <div class="inputbox">
          <input type="text" placeholder="Login to search">
        </div>
      </div>
  </section>


  <!--Footer-->
  <footer class="Footer">
    <div class="footerleft">
    </div>

    <div class="footerright">
      <h4>Let’s Connect</h4>
        <p><a href="#">Read our Blog</a></p>
        <p></p>
        <p><a href="#">Socials</a></p>
        <br>
      <h4>Contact</h4>
      <p>Vehicle Parking System</p>
      <p>123 Parking Lane, Sector 5, City Center<br>
        Lucknow, Uttar Pradesh – 226010</p>
      <p> support@vehicleparking.com</p>
    </div>
  </footer>


</body>
</html>
